body {
  margin: 0;
  padding: 0;
  background: black;
}
.circle {
  position: absolute;
  top: 73%;
  left: 50%;
  /*transform: translate(-50%, -50%) scale(1.6);*/
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
 /* border: 5px solid #fff;*/
  box-shadow: 0 0 0 5px #fff;
   /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
*/  /*  filter: blur(10px);*/
  border-radius: 50%;
  overflow: hidden;
}

.wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: #B11226;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
.wave:before,
.wave:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.wave:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 1);
  animation: animate 5s linear infinite;
}
.wave:after {
  border-radius: 40%;
 /* background: rgba(255, 255, 255, -5);*/
  animation: animate 5s linear infinite;
}

/*Droplet*/

.drop {
	background: #00FFFF;
  z-index: 10;
  position: relative;
  width: 20px;
  height: 20px;
  top: 195px;
  margin: 0 auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  background: white;
  -moz-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  -moz-animation-duration: 4.0s;
  -webkit-animation-duration: 4.0s;
  animation-duration: 4.0s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid #00FFFF;
  top: -22px;
}

.base{
	position: absolute;
	display: block;
	width: 61%;
	height: 5%;
	top: 87%;
	right: 7%;
	background: #7d7979;
	-moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border-radius: 11px 11px 11px 11px;
}

.base-block{
	position: absolute;
	display: block;
	width: 13%;
	height: 7%;
	top: 80%;
	right: 10%;
	background: #4f4f4f;
	-moz-border-radius: 11px 11px 0px 0px;
    -webkit-border-radius: 11px 11px 0px 0px;
    border-radius: 11px 11px 0px 0px;
}

.ring-stand{
	position: absolute;
	display: block;
	width: 2%;
	height: 75%;
	top: 5%;
	right: 15%;
	background: #4f4f4f;
	-moz-border-radius: 11px 11px 0px 0px;
    -webkit-border-radius: 11px 11px 0px 0px;
    border-radius: 11px 11px 0px 0px;
}

.hook{
	position: absolute;
	display: block;
	width: 7%;
	height: 5%;
	top: 15%;
	right: 13%;
	background: #393838;
	-moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.rotating-hook{
	position: absolute;
	display: block;
	width: 13px;
	height: 9%;
	top: 13%;
	right: 12.5%;
	background: #393838;
	-moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border-radius: 11px 11px 11px 11px;
}

.clamp{
	z-index: 2;
	position: absolute;
	display: block;
	width: 34%;
	height: 2%;
	top: 16.5%;
	right: 20%;
	background: #393838;
	-moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.burette{
	position: absolute;
	display: block;
	width: 5%;
	height: 40%;
	top: 3%;
	right: 47.5%;
	background: #00FFFF;
	-moz-border-radius: 11px 11px 0px 0px;
    -webkit-border-radius: 11px 11px 0px 0px;
    border-radius: 11px 11px 0px 0px;
}

.burette:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 33px solid #00FFFF;
    top: 243px;
}

/*STart of Magnetic Stirrer*/
.box{
	position: absolute;
	display: block;
	width: 15%;
	height: 3%;
	top: 135px;
	right: 41%;
	background: #7d7979;
	-moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border-radius: 11px 11px 11px 11px;
	animation: animates 2.8s linear infinite;
}

@keyframes animates 
{
	0%
	{
		transform: rotateY(0deg);
	}
	100%
	{
		transform: rotateY(360deg);
	}
}
/*End of Magnetic stirrer*/

@keyframes animate {
  0% {
    transform: translate(-50%, -73%) rotate(0deg);

  }
  50% {
    transform: translate(-50%, -74%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
}
}

@keyframes drip {
  to {
    top: 445px;
  }
}
